import(visNetwork)
import(reshape2)
import(ggplot2)
import(Rtsne)
import(gplots)
import(MASS)
import(RColorBrewer)
import(htmlwidgets)
useDynLib(sRACIPE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, sourceCpp)
