importFrom(visNetwork)
importFrom(reshape2)
importFrom(ggplot2)
importFrom(Rtsne)
importFrom(gplots)
importFrom(MASS)
importFrom(RColorBrewer)
importFrom(htmlwidgets)
useDynLib(sRACIPE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, sourceCpp)
